<section class="text-gray-600 body-font">
  <div class="flex flex-col justify-center items-center min-h-screen bg-red-50">
    <div class="container mx-auto flex px-16 py-12 md:flex-row flex-col items-center justify-center">
      <div class="lg:flex-grow md:w-1/2 lg:pr-12 md:pr-8 flex flex-col md:items-center md:text-center mb-8 md:mb-0 items-center text-center">
        <h1 class="title-font text-4xl mb-2 text-sky-900 font-bold">もぐもぐタイマー</h1>
        <h2 class="text-gray-500 font-mono hidden lg:inline-block">食生活見直しませんか？</h2>   
        <p class="text-gray-500 font-mono mb-4 leading-relaxed text-sm">実は早食いかも・・</p>
      </div>
      <div class="lg:max-w-md lg:w-full md:w-1/2 w-4/6 mx-auto">
        <%= image_tag '/man.png', class: 'mx-auto' %>
      </div>
    </div>

    <h1 class="text-gray-600 font-bold text-2xl title-font pt-10">【 もぐもぐタイマーでできること 】</h1>

    <div class="container px-5 py-12 mx-auto">
      <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
        <div class="inline-flex justify-center items-center sm:w-32 sm:h-32 w-20 h-20 bg-pink-100 rounded-full flex-shrink-0 mr-8">
          <%= image_tag '/stopwatch.png', alt: 'Logo', class: 'rounded-full', style: 'width: 70%; height: auto;' %>
        </div>
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
          <h1 class="text-sky-900 font-bold text-3xl title-font font-mono mb-2">ストップウォッチ</h1>
          <p class="text-gray-500 leading-relaxed font-mono text-base">朝ごはん・昼ごはん・夜ごはんの食事時間を計測し、データを保存することができます。</p>
        </div>
      </div>
      <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
          <h1 class="text-sky-900 font-bold text-3xl title-font font-mono mb-2">データをチェック</h1>
          <p class="text-gray-500 leading-relaxed font-mono text-base">ストップウォッチで測った食事時間をグラフでチェックできます。</p>
          <p class="text-gray-500 leading-relaxed font-mono text-base">カレンダー機能からその日ごとのデータも見れます。</p>
        </div>
        <div class="sm:w-32 sm:order-none order-first sm:h-32 h-20 w-20 sm:ml-10 inline-flex items-center justify-center rounded-full bg-pink-100 flex-shrink-0">
          <%= image_tag '/data.png'%>
        </div>
      </div>
      <div class="flex items-center lg:w-3/5 mx-auto pb-10 sm:flex-row flex-col">
        <div class="inline-flex justify-center items-center sm:w-32 sm:h-32 w-20 h-20 bg-pink-100 rounded-full flex-shrink-0 mr-8">
          <%= image_tag '/line_push.png', alt: 'Logo' %>
        </div>
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
          <h1 class="text-sky-900 font-bold text-3xl title-font font-mono mb-2">通知を受け取る</h1>
          <p class="text-gray-500 leading-relaxed font-mono text-base">記録を忘れないために、指定した時間にLINE通知を受け取ることができます。</p>
        </div>
      </div>
      <div class="flex items-center lg:w-3/5 mx-auto pb-10 sm:flex-row flex-col border-gray-200">
        <div class="flex-grow text-center sm:text-left mt-6 sm:mt-0">
          <h3 class="text-gray-500 font-bold text-xl title-font font-mono sm:ml-10 mb-2">※友達登録が必要です</h3>
          <p class="text-gray-500 leading-relaxed font-mono sm:ml-10 text-base">QRコードを読み取ってご登録お願いします🙇‍♀️</p> 
        </div>

        <div class="w-20 h-20 sm:w-32 sm:h-32 sm:order-none order-first inline-flex items-center justify-center flex-shrink-0 sm:ml-10 sm:mr-14">
          <%= image_tag '/QR.png'%>
        </div>
      </div>

    <div class="flex justify-center ">
      <%= link_to 'ストップウォッチを使ってみる', stopwatches_path, class: "px-6 py-2 mt-6 border rounded text-sky-900 border-gray-400 bg-red-100 hover:bg-red-200 focus:outline-none font-mono" %>
    </div>
  </div>
</section>