<header class="bg-rose-200 flex justify-between items-center">
  <div class="container mx-auto flex flex-wrap p-4 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-sky-900 hover:border-sky-700 mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>    
      <div class="pl-3 hidden sm:flex" ml-2 md:ml-3>
      <%= link_to root_path, data: { turbo: false } do %>
        <div class="text-lg text-sky-900 hover:border-b hover:border-sky-700 hover:text-sky-700">もぐもぐタイマー</div>
      <% end %>
    </div>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <% if current_user %> 
      <%= link_to "#", data: { turbo: false } do %>
        <label class="btn btn-ghost rounded-btn flex-col font-normal">
          <i class="fas fa-solid fa-book text-lg"></i>
          <div class="text-s text-sky-900 hover:border-b hover:border-sky-700 hover:text-sky-700">マイページ</div>
        </label>
      <% end %>
     <%= link_to stopwatches_path, data: { turbo: false } do %>
        <label class="btn btn-ghost rounded-btn flex-col font-normal space-x-3">
          <i class="fas fa-solid fa-book text-lg"></i>
          <div class="text-s text-sky-900 hover:border-b hover:border-sky-700 hover:text-sky-700">タイマー</div>
        </label>
      <% end %>
      <%= link_to "#", data: { turbo: false } do %>
        <label class="btn btn-ghost rounded-btn flex-col font-normal space-x-3">
          <i class="fas fa-solid fa-book text-lg"></i>
          <div class="text-s text-sky-900 hover:border-b hover:border-sky-700 hover:text-sky-700">通知</div>
        </label>
      <% end %>
      <%= link_to destroy_user_session_path, method: :delete, data: { turbo: false } do %>
        <label class="btn btn-ghost rounded-btn flex-col font-normal space-x-3">
          <i class="fas fa-solid fa-book text-lg"></i>
          <div class="text-s text-sky-900 hover:border-b hover:border-sky-700 hover:text-sky-700">ログアウト</div>
        </label>
      <% end %>

      <% else %>
      <%= link_to user_line_omniauth_authorize_path, method: :post, data: { turbo: false } do %>
        <label class="btn btn-ghost rounded-btn flex-col font-normal space-x-3">
          <i class="fas fa-solid fa-book text-lg"></i>
          <div class="text-s text-sky-900 hover:border-b hover:border-sky-700 hover:text-sky-700">LINEログイン</div>
        </label>
      <% end %>
      <%= link_to stopwatches_path, data: { turbo: false } do %>
        <label class="btn btn-ghost rounded-btn flex-col font-normal space-x-3">
          <i class="fas fa-solid fa-book text-lg"></i>
          <div class="text-s text-sky-900 hover:border-b hover:border-sky-700 hover:text-sky-700">タイマー</div>
        </label>
      <% end %>
    <% end %>  
    </nav>
  </div>
</header>